*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #E1BAFF;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 35%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 28px;
}

.livro-imagem {
    width: 25%;
    padding: 24px;

}
.site{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.ste-div-conteudo{
    width: 35%;
}

.site-titulo{
    padding: 24px 0;
}

.rodape{
    background-color: #E1BAFF ;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
}